.contact-wrapper {
    width: 100%;
    background-color: $primaryDarkColor;
    h2 {
        width: fit-content;
        margin: 0 auto 20px auto;
        color: $white;
    }
}

.contact {
    opacity: 0;
    width: $maxWidthPhone;
    margin: 0 auto;
    form {
        margin: 0 auto;
        .form-group {
            @include flex(column, start);
            align-items: flex-start;
        }
        label {
            font-family: $titleFont;
            font-size: 18px;
            color: $white;
            margin: 10px 0 5px 0;
            font-weight: 600;
           
          
        }
        input, textarea {
            padding: 5px;
            font-size: 16px;
            color: $black;
            width: 100%;
            background-color: $white;
            border: 1px solid rgb(212, 212, 212);
            border-radius: 3px;
            border-bottom: 2px solid $tertiaryMediumColor;
            outline-style: none;
            resize: none;
            
        }
        input {
            height: 35px;
        }
        input:focus, textarea:focus {
            border: 2px solid $tertiaryMediumColor;
        }

        .btn {
            padding-top: 20px;
            width: fit-content;
            margin: 0 auto;
        }


        
    }
}

.contact.animate {
    animation: toTop 0.5s ease;
    animation-fill-mode: forwards;
}


@media only screen and (min-width: 501px) {
    .contact {
        width: 65%;
    }
}

@media only screen and (min-width: 769px) {
    .contact {
        width: 45%;
        max-width: 900px;
    }
}