@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap');

h1, h2, h3, h4 {
    color: $black;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1.7rem;
}

p {
    color: $lightBlack;
    
}



@media only screen  and (min-width: 500px) {
    h2 {
        font-size: 1.9rem;
    }
}

@media only screen  and (min-width: 1000px) {
    h2 {
        font-size: 2rem;
    }
}