@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500&display=swap');

h1, h2, h3, h4 {
    color: $black;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1.7rem;
}

p {
    color: $textBlack;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}



@media only screen  and (min-width: 500px) {
    h2 {
        font-size: 1.9rem;
    }
}

@media only screen  and (min-width: 1000px) {
    h2 {
        font-size: 2rem;
    }
}