.footer-container {
    background-color: $headerColor;
    width: 100%;
    padding: 0;
    .footer {
        max-width: $maxWidthDesktop;
        margin: 0 auto;
        padding: 20px;
        .contact-footer {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            i {
                color: $white;
                font-size: 25px;
                margin: 5px;
                margin-bottom: 10px;
                cursor: pointer;
            }
            i:hover {
                color: $primaryColor;
            }
        }
        p {
            color: $darkWhite;
            font-size: 15px;
            width: fit-content;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 500px) {
    .footer-container {
        .footer {
            p {
                font-size: 18px;
            }
        }

    }
}

@media only screen and (min-width: 1100px) {
}