$titleFont: 'Raleway', sans-serif;

$headerColor: rgb(22, 22, 22);
$white:rgb(253, 249, 245);
$darkWhite: rgb(216, 211, 205);
$black: rgb(32, 32, 32);
$lightBlack: rgb(66, 66, 66);
$lighterBlack:rgb(94, 94, 94);
$textBlack: rgb(70, 70, 70);

$primaryColor: rgb(116, 91, 255);
$primaryDarkColor: rgb(62, 24, 153);
$primaryIntenseColor: rgb(104, 87, 255);

$secondaryColor: #77bbff;
$secondaryIntenseColor: #0080ff;

$tertiaryColor: rgb(50, 226, 50);
$tertiaryMediumColor:rgb(50, 206, 84);
$tertiaryDarkColor: rgb(40, 185, 59);
$tertiaryDarkerColor: rgb(0, 0, 0);

$maxWidthPhone: 87%;
$maxWidthTablet: 85%;
$maxWidthDesktop: 73%;