$titleFont: 'Raleway', sans-serif;

$headerColor: rgb(36, 36, 36);
$white:rgb(240, 240, 240);
$darkWhite: rgb(223, 223, 223);
$black: rgb(31, 31, 31);
$lightBlack: rgb(63, 63, 63);

$primaryColor: rgb(255, 93, 93);
$primaryDarkColor: rgb(180, 43, 43);
$primaryIntenseColor: rgb(255, 61, 61);

$secondaryColor: #77bbff;
$secondaryIntenseColor: #0080ff;

$tertiaryColor: rgb(255, 199, 95);
$tertiaryMediumColor:rgb(255, 210, 125);
$tertiaryDarkColor: #816f1e;
$tertiaryDarkerColor: #2c2505;

$maxWidthPhone: 87%;
$maxWidthTablet: 85%;
$maxWidthDesktop: 75%;