$titleFont: 'Raleway', sans-serif;

$headerColor: rgb(36, 36, 36);
$white:rgb(253, 249, 245);
$darkWhite: rgb(216, 211, 205);
$black: rgb(31, 31, 31);
$lightBlack: rgb(63, 63, 63);
$lighterBlack:rgb(94, 94, 94);

$primaryColor: rgb(116, 91, 255);
$primaryDarkColor: rgb(75, 21, 202);
$primaryIntenseColor: rgb(104, 87, 255);

$secondaryColor: #77bbff;
$secondaryIntenseColor: #0080ff;

$tertiaryColor: rgb(50, 226, 88);
$tertiaryMediumColor:rgb(50, 206, 71);
$tertiaryDarkColor: rgb(40, 185, 59);
$tertiaryDarkerColor: rgb(8, 46, 11);

$maxWidthPhone: 87%;
$maxWidthTablet: 85%;
$maxWidthDesktop: 73%;